<footer id="floating-footer" class="floating-footer">
  <div class="container footer__inner">
    <ul class="footer__links">
      <li class="language-switcher">
        {% set current_lang = get_current_language(request) %}
        {% for lang_code, lang_name in LANGUAGES.items() %}
          {% if lang_code != current_lang %}
            <a href="{{ url_for('set_language', language_code=lang_code) }}" class="language-link">
              {{ lang_code.upper() }}
            </a>
          {% endif %}
        {% endfor %}
      </li>
    </ul>
  </div>
</footer>